@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
/* @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap'); */

.borderView {
    background-color: rgb(37, 41, 155);
    border-radius: 5%;
}

#ViewStyle {
    background-color: rgb(250, 226, 147);
    border-radius: 3%;
}

.TitleCard {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 60px;
    color: rgba(46, 46, 46, 0.93);
}

.DescriptionCard {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.TextStyle {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.evoluciones {
    display: flex;
    justify-content: space-around;
}